
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB; /* Color de fondo fuera del contenedor */
}

#game-container {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: rgba(135, 206, 235, 0.8); /* Fondo semitransparente */
    background-image: url('background.png'); /* Fondo del juego */
    background-size: cover;
    background-position: center top; /* Mueve el fondo hacia arriba */
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#player {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 70px; /* Aumenta el ancho del jugador */
    height: 90px; /* Aumenta el alto del jugador */
    background-image: url('furro.png'); /* Imagen del jugador */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
}

.projectile {
    position: absolute;
    width: 30px; /* Ajusta el tamaño de las gotas */
    height: 30px;
    background-image: url('gotas.png'); /* Imagen de las gotas de agua */
    background-size: contain; /* Ajusta la imagen al contenedor */
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; /* Asegura que no haya fondo */
    border-radius: 50%;
}